<div class="customer_entry">
  <div class="table_id">customer.table_id</div>
  <div class="customer_info"><%= image_tag customer.user.profile_pic_url %><%= "#{customer.user.first_name} #{customer.user.last_name}" %></div>
  <div class="check_off"><%= link_to "Done", customer_path(customer.id), method: :delete %></div>
</div>
