<center><h1 id="menu_title"><%= current_restaurant.name %>'s customers</h1></center>

<div id="customers_container">
<% if @customers %>
  <div id="customers_header">
    <div class="table_id">Table</div>
    <div class="customer_info">Customer</div>
    <div class="check_off"></div>
  </div>
  <div id="customers" data-id="<%= @current_restaurant.id %>">
      <%= render @customers %>
  </div>
<% end %>
</div>

