<center><h1 id="menu_title"><%= current_restaurant.name %>'s customers</h1></center>

<% if @customers %>
<table id="customers" data-id="<%= @current_restaurant.id %>">
  <tr>  
    <th>Table</th>
    <th>Customer</th>
    <th>Check Off</th>
  </tr>
  <%= render @customers %>
</table>
<% end %>

