
<div class="row">
	<div class="span8">
		<center><h1 id="menu_title"><%= current_restaurant.name %>'s customers</h1></center>
	</div>
</div>


<% if @customers %>
  <% @customers.each do |customer| %>
  <div class="row">
	<div class="span8" id="menu_info">
    	<div><center><p class="menu_content" id="name_of_dish"><%= customer.user.name %></p></center></div>   
    </div>
  </div>
  <div class="row">
	<div class="span4">
	    <p><a href="#"><img src="<%= customer.user.profile_pic_url %>" class="food_image_for_menu" %></a></p> <!-- menu classes work here -->
	</div>
	<div class="span4">
		<p class="menu_content"><%= customer.table_id %></p>   
	</div>
  </div>

  <% end %>

<% end %>


