  <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
  <script type="text/javascript" src="http://twitter.github.com/bootstrap/assets/js/bootstrap-dropdown.js"></script>



<% if restaurant_signed_in? %>
    Signed in as <%= current_restaurant.name %>. Not you?
    <%= link_to "Sign out", destroy_restaurant_session_path, :method => :delete %>
  <% else %>

  <h1>Welcome to Feed.me</h1>

  
<div class="home_container">
	<div class="row">
		<div class ="span8">
			Interesting content
        </div>
        <div class="span4">
	    <%= render :partial => "devise/registrations/new"%>
        </div>
    </div>
</div>

  <% end %>

<script>
$(document).ready(function()
{
  //Handles menu drop down
  $('.dropdown-menu').find('form').click(function (e) {
        e.stopPropagation();
        });
  });
</script>
