// Place all the styles related to the customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#customers_container {
  width:50em;
}

.customers_header {
 font-size:1.8em;
}

.customers_header div, .customers_entry div {
  display:inline;
  float:left;
}

.table_id {
  width:10%;
}

.customer_info {
  width: 80%;
}

.check_off {
  width:10%;
}
